body {
  background-image: url("images/hsr_background.png");
}

/*Setting general font*/
* {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Styling footer and adjusting position*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #02111b;
  color: #f2f4ff;
}

/*Styling form, data fields and buttons*/
form {
  position: relative;
  top: 4em;
  background-color: #6969b3;
  width: 30em;
  height: auto;
  border-radius: 20px;
  border: 2px solid black;
}

.form_header {
  position: relative;
  font-size: 30px;
  background-color: #02111b;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  color: #f2f4ff;
  margin-bottom: 1em;
}

.form_header h4 {
  position: inherit;
  top: 0.7em;
}

.entry_field {
  width: 80%;
  text-align: center;
  border: 2px solid black;
}

.radio {
  margin-left: 1em;
}
.submit_button {
  background-color: #f2f4ff;
  width: 40%;
  border: 2px solid black;
  margin-bottom: 1em;
}

.submit_button:hover {
  background-color: #b8bbd6;
  transform:scale(1.2);
  border: 2px solid black;
}
.login_box {
  position: relative;
  top: 5em;
  border-radius: 20px;
  width: 30em;
  height: 4em;
  background-color: #6969b3;
  border: 2px solid black;
}

.back_button {
  position: relative;
  top: 3em;
}

.show_hide_password {
  position: relative;
  bottom: 2em;
  left: 11em;
}
