body {
  background-color: #f2f4ff;
}

/*customising page scrollbar's thickness and color*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #02111b;
}

::-webkit-scrollbar-thumb {
  background: #4da1a9;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8bbd6;
}
.navigation_bar {
  background-color: #02111b !important;
}

/*setting a general font*/
* {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*customising width and position of search bar*/
.search_bar {
  position: relative;
  left: 7em;
  bottom: 1em;
  width: 38em;
  height: 50px;
}

.search_bar i {
  position: relative;
  top: 30px;
  left: 36em;
  z-index: 1;
}

/*Customising page redirection links to signup and login pages*/
.go_to_signup_page {
  display: block;
  position: relative;
  left: 6em;
  font-size: 25px;
  color: #b8bbd6;
  text-decoration: none;
}

.go_to_signup_page:hover {
  color: white;
}

.go_to_login_page {
  display: block;
  position: relative;
  left: 7em;
  font-size: 25px;
  color: #b8bbd6;
  text-decoration: none;
}

.go_to_login_page:hover {
  color: white;
}

/*Customising user profile button/dropdown and settings button*/
.user_profile_button {
  position: relative;
  left: 20em;
  cursor: pointer;
}

.user_profile_button button {
  border: none;
}

.settings_button {
  position: relative;
  left: 10em;
  border: none;
  cursor: pointer;
}

/*Adjusting feed buttons' position and effects*/
.feed_options {
  position: relative;
  top: 5em;
  width: 55em;
  height: 3em;
  background-color: #02111b;
  z-index: 0;
}

.feed_options button {
  color: #f2f4ff;
  font-size: 20px;
  border: none;
}

.feed_options button:hover {
  color: white;
  text-decoration: underline;
}

/*Adjusting Post Area and customising example post's template*/
.post_area {
  background-color: #b8bbd6;
  height: auto;
  margin-top: 4em;
  overflow: hidden;
}

.user_info {
  position: relative;
  top: 1.9em;
}

/* .user_info button {
  position: absolute;
  left: 90%;
  margin-left: 25px;
  border: none;
} */

.user_profile {
  position: relative;
  left: 1em;
}


.follow_button {
  position: absolute;
  left: 85%;
  background-color: #6969b3;
  border-radius: 20px;
  border: none;
}

.options_button{
  position: absolute;
  left: 95%;
  margin-right: 5px;
  /* background-color: #6969b3; */
  border-radius: 20px;
  border: none;
}

.follow_button:hover {
  background-color: white;
}
.post_content {
  position: relative;
  width: 820px;
  height: auto;
  top: 2em;
  left: 2em;
}

.post_content img {
  max-width: 100%;
  max-height: 100%;
}

.post_content video{
  max-width: 100%;
  max-height: 100%;
}

.post hr {
  position: relative;
  top: 5em;
}

.engagement_buttons {
  position: relative;
  left: 30em;
  top: 0.6em;
  margin-left: 16em;
}

.engagement_buttons button{
  border: none;
}
/*Customising widgets on right sidebar*/
.trending_hashtags {
  background-color: #b8bbd6;
  position: fixed;
  left: 58em;
  bottom: 30.5em;
  width: 30em;
  height: 16em;
  border-radius: 20px;
}

.widget_header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #02111b;
  height: 3em;
}

.widget_header h4 {
  display: block;
  position: relative;
  top: 0.3em;
  margin-left: auto;
  margin-right: auto;
  color: #f2f4ff;
}

.widget_header button {
  display: block;
  position: relative;
  right: 10em;
  bottom: 1.4em;
  color: #f2f4ff;
}

.trending_hashtags span {
  margin-bottom: 20px;
}

.post_panel {
  background-color: #b8bbd6;
  position: fixed;
  left: 58em;
  bottom: 18.5em;
  width: 30em;
  height: 10em;
  border-radius: 20px;
}

.post_options i {
  position: relative;
  top: 1em;
  width: 4em;
  border: none;
}

.contact_box {
  background-color: #b8bbd6;
  position: fixed;
  left: 58em;
  bottom: 2.5em;
  width: 30em;
  height: 14em;
  border-radius: 20px;
}
.contact_box span {
  position: relative;
  top: 1em;
}
.contact_box a {
  text-decoration: none;
  color: #02111b;
}

/*Styling settings box*/
.settings_box {
  display: none;
  background-color: #b8bbd6;
  position: fixed;
  width: 30%;
  height: 10em;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  border: 2px solid black;
  border-radius: 20px;
}

.settings_header {
  position: relative;
  padding-top: 0.3em;
  font-size: 30px;
  width: 14.25em;
  height: 2.16em;
  right: 0.41em;
  background-color: #02111b;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  color: #f2f4ff;
}

.settings_box button {
  background-color: #02111b;
  color: #f2f4ff;
  margin-left: 4.5em;
}

.settings_box button:hover {
  background-color: #f2f4ff;
  scale: 1.1;
}

/*Styling Post box/composer*/
.post_box {
  display: none;
  width: 30em;
  height: 26em;
  background-color: #6969b3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  border-radius: 20px;
  border: 4px solid black;
}

.post_box_header {
  position: relative;
  background-color: #02111b;
  width: 30em;
  height: 3em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  right: 1em;
  color: #f2f4ff;
  margin-bottom: 1em;
}

.post_box_header h2 {
  position: relative;
  left: 5.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.post_box_header i {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: 10em;
}

#post_text {
  display: block;
  width: 25em;
  height: 14em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 4px solid black;
}

.media_upload {
  position: relative;
  top: 1em;
}

.media_upload_button p {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.media_upload_button i {
  position: relative;
  margin-left: 0.4em;
  margin-top: auto;
  margin-bottom: auto;
}

.post_button {
  display: block;
  background-color: #f2f4ff;
  position: relative;
  width: 5em;
  top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.post_button:hover {
  background-color: #b8bbd6;
  scale: 1.1;
}

/*Styling Comment Box and adjusting position*/

.comment_section{
  display: none;
  width: 30em;
  height: 25em;
  background-color: #6969b3;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.comment_section_header{
  background-color: #02111b;
  color: #f2f4ff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.comment_section_header h2{
  position: relative;
  left: 5.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.comment_section_header i{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: 9em;
}

.commenter_profile{
  position: relative;
  margin-left: 0.5em;
}
.commenter_profile img{
  margin-right: 0.8em;
}
.comment_box{
  width: 28em;
  height: 21em;
  background-color: #f2f4ff;
  overflow-y: auto;
}

.comment_content{
  position: relative;
  margin-left: 0.5em;
}


/*Following list styling - applicable for both following list and followers list*/
.following_list{
  display: none;
  width: 30em;
  height: 25em;
  background-color: #6969b3;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.following_list_header{
  background-color: #02111b;
  color: #f2f4ff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.following_list_header h2{
  position: relative;
  left: 4.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.following_list_header i{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: 7.5em;
}

.following_list_box{
  width: 28em;
  height: 21em;
  background-color: #f2f4ff;
  overflow-y: auto;
}

.following_profile i{
  position: relative;
  top: 0.8em;
  left: 0.3em;
}

.following_profile h5{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0.8em;
}

.following_profile button {
  border: none;
  position: relative;
  bottom: 0.2em;
  right: 0.2em;
}
