body{
    /* background-color: #F2F4FF; */
    background-color: #f2f4ff;
    /* background-image: url("images/peakpx (1).jpg"); */
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: #02111B;
}

::-webkit-scrollbar-thumb{
    background:#4DA1A9;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background:#B8BBD6;
}
.navigation_bar{
    background-color:#02111B !important;
    /* z-index: 1; */
}

*{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search_bar{
    position: relative;
    left: 7em;
    bottom: 1em;
    width: 38em;
    height: 50px;
}

.search_bar i{
    position: relative;
    top: 30px ;
    left: 36em;
    z-index: 1;
}

.go_to_signup_page{
    position: relative;
    left: 6em;
    font-size:25px;
    color: #B8BBD6;
    text-decoration: none;
}

.go_to_signup_page:hover{
    color: white;
}

.go_to_login_page{
    position: relative;
    left: 7em;
    font-size:25px;
    color: #B8BBD6;
    text-decoration: none;
}

.go_to_login_page:hover{
    color: white;
}

.user_profile_button{
    position: relative;
    left: 18em;
    cursor: pointer;
}

.user_profile_button button{
    border:none;
}

.settings_button{
    position: relative;
    left: 8em;
    border: none;
    cursor: pointer;
    
}

.feed_options{
    position: relative;
    top: 5em;
    width: 55em;
    height: 3em;
    background-color: #02111B;
    z-index: 0;
}

.feed_options button{
    color: #F2F4FF;
    font-size: 20px;
}

.feed_options button:hover{
    text-decoration: underline;
}

.post_area{
    background-color: #B8BBD6;
    height: auto;
    margin-top: 4em;
    overflow:hidden;
    /* flex-wrap: wrap; */
}

.user_info{
    position: relative;
    top: 1.9em;
}

.user_profile{
    position: relative;
    left: 1em;
}

.user_info button{
    position: relative;
    left: 38em;
}

.follow_button{
    background-color: #6969B3;
    border-radius: 20px;
}
.post_content{
    position: relative;
    width: 820px;
    height: 400px;
    top: 2em;
    left: 2em;
}

.post_content img{
    max-width: 100%;
    max-height: 100%;
}

.post hr{
    position: relative;
    top: 5em;
}

.engagement_buttons{
    position: relative;
    left: 30em;
    top: 0.6em;
    margin-left: 16em;
}


.trending_hashtags{
    background-color: #B8BBD6;
    position: fixed;
    left: 58em;
    bottom: 30.5em;
    width: 30em;
    height: 16em;
    border-radius: 20px;
}

.widget_header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #02111B;
    height: 3em;
    text-align: center;
}

.widget_header h4{
    position: relative;
    top: 0.5em;
    color: #F2F4FF;
}

.trending_hashtags span{
    margin-bottom: 20px;
}

.post_panel{
    background-color: #B8BBD6;
    position: fixed;
    left: 58em;
    bottom: 18.5em;
    width: 30em;
    height: 10em;
    border-radius: 20px;
}

.post_options i{
    position: relative;
    top: 1em;
    width: 4em;
}

.contact_box{
    background-color: #B8BBD6;
    position: fixed;
    left: 58em;
    bottom: 2.5em;
    width: 30em;
    height: 14em;
    border-radius: 20px;
}
.contact_box span{
    position: relative;
    top: 1em;
}
.contact_box a{
    text-decoration: none;
    color: #02111B;
}

.settings_box{
    display:none;
    background-color: #B8BBD6;
    position:fixed;
    width: 30%;
    height: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    border: 2px solid black;
    border-radius: 20px;
}

.settings_header{
    position: relative;
    padding-top: 0.3em;
    font-size: 30px;
    width: 14.25em;
    height: 2.16em;
    right: 0.41em;
    background-color: #02111B;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color:#F2F4FF;
}

.settings_box button{
    background-color: #02111B;
    color: #F2F4FF;
    margin-left: 4.5em;
}

.settings_box button:hover{
    background-color: #F2F4FF;
    scale: 1.1;
}